

body{
	background: #0696be;
	font-family: Arial, Helvetica, sans-serif;
}
.container{
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	background-color: #1A2226;
	color: #fff;

}

.container h1 {
	text-align: center;
	margin-top: 0;
	color: #0696be;
}

.container form{
	display: flex;
	flex-direction: column;
}

.erreur{
	text-align: center;
	font-size: small;
	color: rgb(255, 54, 54);
}
.container label{
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.container input {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.container button {
	margin-top: 15px;
	width: 230px;
	height: 60px;
	border-radius: 15px;
	cursor: pointer;
	border-color:#0696be;
	color:#ffffff;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 19px;
	background-color: #0696be;
	transition: .5s linear;
}


.container button:hover .container button:nth-child(1){
	margin-right: 5px;
}

.container button:hover .container button:nth-child(2){
	margin-left: 30px;
}

.container button:hover{
	border-color:#0DB8DE ;
	background-color: #0DB8DE;
	box-shadow: 0 0 3px #0DB8DE,
				 0 0 6px #0DB8DE, 
				 0 0 12px #0DB8DE;
}


.container p {
	text-align: center;
	margin-top: 10px;
}

.container a {
	color: #0077cc;
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
}
